[Unit]
Description=Foot Terminal Emulator (Server Mode)
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/foot -s
Restart=always
RestartSec=3

[Install]
WantedBy=graphical-session.target
