* {
  all: unset;
  font-family: $font-family-main;
  font-size: $font-size-sm;
  min-height: 0;
}

.module,
.tag {
  border-radius: $radius-sm;
  padding: $space-sm 3px;
  color: $module-fg;
}

.module {
  background: $module-bg;
}

.module-bordered {
  box-shadow: inset 0 0 0 1px $module-border;
}

.module:hover,
.tag:hover {
  background: $module-bg-hover;
  transition: $transition-fast;
}
