.warning {
    background: $state-warning-bg;
    box-shadow: $state-warning-shadow;
    color: $state-warning-fg;
}

.critical {
    background: $state-critical-bg;
    box-shadow: $state-critical-shadow;
    color: $state-critical-fg;
    transition: box-shadow 700ms ease-in-out;
}

.critical.pulse-on {
    box-shadow: $state-critical-shadow-pulse;
}
