/* ------------------------ Glance Animation ----------------------- */
.browserSidebarContainer.zen-glance-background.deck-selected {
  filter: blur(5px) brightness(50%);
  transition: filter 0.1s ease-in-out;
}

/* ---------------------- Tab Loading Animation ---------------------- */
.browserSidebarContainer:not([zen-split="true"]) {
  transition:
    transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important,
    filter 0.18s cubic-bezier(0.2, 0.8, 0.4, 1) !important;
}

#main-window:has(.tabbrowser-tab[selected][busy])
  .browserSidebarContainer:not([zen-split="true"]) {
  filter: blur(10px) brightness(60%) !important;
  transform: scale(0.975) !important;
  transition-delay: 0.5s !important;
  border-radius: 8px !important;
}

@media (-moz-pref("uc.tweak.animation.page-loading", 2)) {
  .browserSidebarContainer:not([zen-split="true"]) {
    transition:
      transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important,
      filter 0.3s cubic-bezier(0.2, 0.8, 0.4, 1) !important;
  }
  #main-window:has(.tabbrowser-tab[selected][busy])
    .browserSidebarContainer:not([zen-split="true"]) {
    filter: blur(20px) brightness(60%) !important;
    transform: scale(0.95) !important;
    transition-delay: 0.5s !important;
  }
}

@media (-moz-pref("uc.tweak.animation.page-loading", 3)) {
  .browserSidebarContainer:not([zen-split="true"]) {
    transition:
      transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.935) !important,
      filter 0.2s cubic-bezier(0.2, 0.8, 0.4, 1.5) !important;
  }
  #main-window:has(.tabbrowser-tab[selected][busy])
    .browserSidebarContainer:not([zen-split="true"]) {
    filter: blur(10px) brightness(60%) !important;
    transform: scale(0.977) !important;
    transition-delay: 0.5s !important;
  }
}

@media (-moz-pref("uc.tweak.animation.page-loading", 4)) {
  .browserSidebarContainer:not([zen-split="true"]) {
    transition:
      transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important,
      filter all 0.2s cubic-bezier(0.2, 0.8, 0.4, 1) !important;
  }
  #main-window:has(.tabbrowser-tab[selected][busy])
    .browserSidebarContainer:not([zen-split="true"]) {
    filter: saturate(0%) brightness(60%) !important;
    transform: scale(0.975) !important;
    transition-delay: 0.5s !important;
  }
}

@media (-moz-pref("uc.tweak.animation.page-loading", 5)) {
  .browserSidebarContainer:not([zen-split="true"]) {
    transition:
      transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important,
      filter all 0.2s cubic-bezier(0.2, 0.8, 0.4, 1) !important;
  }
  #main-window:has(.tabbrowser-tab[selected][busy])
    .browserSidebarContainer:not([zen-split="true"]) {
    filter: saturate(0%) brightness(60%) blur(6px) !important;
    transform: scale(0.99) !important;
    transition-delay: 0.5s !important;
  }
}

@media (-moz-pref("uc.tweak.animation.page-loading", 0)) {
  .browserSidebarContainer:not([zen-split="true"]) {
    transition: none !important;
  }
  #main-window:has(.tabbrowser-tab[selected][busy])
    .browserSidebarContainer:not([zen-split="true"]),
  #main-window:has(.tabbrowser-tab[selected]:not([busy]))
    .browserSidebarContainer:not([zen-split="true"]) {
    filter: none !important;
    transform: none !important;
    transition-delay: 0s !important;
  }
}

/* --------------------- Tab Switch Animation --------------------- */
#tabbrowser-tabpanels
  > hbox:not(:has(.zen-glance-background)):not([zen-split="true"]) {
  &:is([zen-split]) {
    transition:
      all 0.17s cubic-bezier(0.175, 0.685, 0.52, 1.05),
      filter 0.1s ease-out !important;
  }
  &:not(.zen-glance-background):not([zen-split="true"]) {
    transition:
      all 0.17s cubic-bezier(0.175, 0.685, 0.52, 1),
      filter 0.1s ease-out !important;
    scale: 0.975 !important;
    opacity: 1;
    filter: blur(5px) !important;
  }
}

#tabbrowser-tabpanels
  > hbox.deck-selected:not(:has(.zen-glance-background)):not(
    [zen-split="true"]
  ) {
  &:not(.zen-glance-background) {
    scale: 1 !important;
    opacity: 1 !important;
    filter: none !important;
  }
}

@media (-moz-pref("uc.tweak.animation.page-showing", 2)) {
  #tabbrowser-tabpanels
    > hbox:not(:has(.zen-glance-background)):not([zen-split="true"]) {
    &:is([zen-split]) {
      transition:
        all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.35),
        filter 0.18s ease-out !important;
    }
    &:not(.zen-glance-background):not([zen-split="true"]) {
      transition:
        all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.35),
        filter 0.18s ease-out !important;
      scale: 0.95 !important;
      opacity: 1;
      filter: blur(20px) !important;
    }
  }

  #tabbrowser-tabpanels
    > hbox.deck-selected:not(:has(.zen-glance-background)):not(
      [zen-split="true"]
    ) {
    &:not(.zen-glance-background) {
      scale: 1 !important;
      opacity: 1 !important;
      filter: none !important;
    }
  }
}

@media (-moz-pref("uc.tweak.animation.page-showing", 3)) {
  #tabbrowser-tabpanels
    > hbox:not(:has(.zen-glance-background)):not([zen-split="true"]) {
    &:is([zen-split]) {
      transition:
        all 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.35),
        filter 0.1s ease-out !important;
    }
    &:not(.zen-glance-background):not([zen-split="true"]) {
      transition:
        all 0.2s cubic-bezier(0.175, 0.85, 0.52, 1.35),
        filter 0.18s ease-out !important;
      scale: 0.98 !important;
      opacity: 1;
      filter: blur(5px) !important;
    }
  }

  #tabbrowser-tabpanels
    > hbox.deck-selected:not(:has(.zen-glance-background)):not(
      [zen-split="true"]
    ) {
    &:not(.zen-glance-background) {
      scale: 1 !important;
      opacity: 1 !important;
      filter: none !important;
    }
  }
}

@media (-moz-pref("uc.tweak.animation.page-showing", 4)) {
  #tabbrowser-tabpanels
    > hbox:not(:has(.zen-glance-background)):not([zen-split="true"]) {
    transition: opacity 0.35s ease-in-out !important;
    opacity: 0 !important;
    pointer-events: none;
    position: absolute !important;
    inset: 0;
    z-index: 0;
  }

  #tabbrowser-tabpanels
    > hbox.deck-selected:not(:has(.zen-glance-background)):not(
      [zen-split="true"]
    ) {
    opacity: 1 !important;
    pointer-events: auto !important;
    position: relative !important;
    z-index: 1;
  }
}

@media (-moz-pref("uc.tweak.animation.page-showing", 0)) {
  #tabbrowser-tabpanels
    > hbox:not(:has(.zen-glance-background)):not([zen-split="true"]) {
    &:is([zen-split]),
    &:not(.zen-glance-background):not([zen-split]) {
      transition: none !important;
      scale: 1 !important;
      opacity: 1 !important;
      filter: none !important;
    }
  }

  #tabbrowser-tabpanels
    > hbox.deck-selected:not(:has(.zen-glance-background)):not(
      [zen-split="true"]
    ) {
    &:not(.zen-glance-background) {
      scale: 1 !important;
      opacity: 1 !important;
      filter: none !important;
    }
  }
}

/* ----------------- Other animations ------------------ */

/* website view animations [works for split tabs] */
#browser:not(:has(.zen-glance-background)) #tabbrowser-tabpanels {
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.35) !important;
}

/* trackpad gestures*/
tabpanels .browserStack browser {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.1) 0.1s !important;
}

/* Previous animation*/
.browserStack:has(
    #historySwipeAnimationPreviousArrow:not([style="translate: none;"])
  )
  browser {
  scale: 0.95 !important;
  transform: translateX(3%) !important;
}

/* Next animation*/
.browserStack:has(
    #historySwipeAnimationNextArrow:not([style="translate: none;"])
  )
  browser {
  scale: 0.95 !important;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  transform: translateX(-3%) !important;
}

/* smoothen trackpad gestures */
.browserStack browser[style*="transform: none"] {
}

/* ctrl tab visuals and animations */
#ctrlTab-panel {
  --panel-background: rgba(0, 0, 0, 0.9) !important;
  transition: all 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.1) 0.2s !important;
  border-radius: 13px;
  scale: 0.9;
}

#ctrlTab-panel:has(.ctrlTab-preview:not([hidden="true"])) {
  scale: 0.9 !important;
  border-radius: 13px;
}

slot:nth-child(1) {
  padding: 0 !important;
}

.ctrlTab-preview-inner {
  /* 	padding: 0 !important; */
  margin: 0 !important;
  transition: all 0.2s ease-in-out;

  .ctrlTab-canvas {
    border-radius: 1em !important;
    overflow: hidden;

    img {
      background-color: #000000 !important;
    }
  }

  .ctrlTab-favicon-container {
    justify-content: center !important;
    transition: all 0.5s ease-in-out;

    image {
      border-radius: 50% !important;
      transition: all 0.5s ease-in-out !important;
      /* 			scale: 1.25 !important; */
    }
  }

  .ctrlTab-label {
    margin-top: 1.5em !important;
  }
}

.ctrlTab-preview:focus > .ctrlTab-preview-inner {
  outline: none !important;
  /* border: none !important;   */
  background-color: var(--sidebar-background-color) !important;
  border-radius: 1.5em !important;
  scale: 1.03 !important;

  .ctrlTab-favicon-container {
    image {
      padding: 2px !important;
    }
  }
}
