/* mimicfox 🔥🦊 */
/* browser.css  */
/* OG https://github.com/bmFtZQ/edge-frfox  */

/* Add a shadow when the toolbars move over content, eg. in macOS hovering over
 * the menu bar in fullscreen mode. */
#navigator-toolbox[style*="transform"] {
  box-shadow: 0 -3px 5px 3px light-dark(rgb(0 0 0 / 0.3), rgb(0 0 0 / 0.6)) !important;
}

/* ---------- rounded corners ---------- */
@media -moz-pref("uc.tweak.rounded-corners") {
  /* fix browser pages    */
  html:not([sizemode="fullscreen"]) .browserContainer,
  html:not([sizemode="fullscreen"]) .browserStack {
    clip-path: inset(0 round var(--uc-tweak-rounded-corners-radius));
  }

  /* Since Firefox 120, when the bookmarks bar is set to only open on new tabs,
   * the bookmarks bar overlaps the #browser element. */
  /* Change the element that shifts the browser content to the correct position. */
  #main-window[BookmarksToolbarOverlapsBrowser] .newTabBrowserPanel,
  #main-window[BookmarksToolbarOverlapsBrowser] #sidebar-box {
    padding-top: 0 !important;
    margin-top: 0 !important;
  }

  #main-window[BookmarksToolbarOverlapsBrowser] #browser {
    margin-top: var(--bookmarks-toolbar-overlapping-browser-height);
  }

  /* Make sure that the toolbars are not positioned in-front of the browser
   * element. */
  #main-window[BookmarksToolbarOverlapsBrowser] #navigator-toolbox:not([style*="z-index"]) {
    z-index: auto !important;
  }

  /* Move the browser element in-front of the toolbars when on the new tab page. */
  #main-window:not([BookmarksToolbarOverlapsBrowser]) #browser {
    /*     z-index: 1 !important; */
    -moz-window-dragging: drag;
  }

  #main-window:not([chromehidden~="toolbar"]) {
    --uc-tweak-rounded-corners-padding: 4px;
    --uc-tweak-rounded-corners-radius: 8px;
    --uc-tweak-rounded-corners-shadow: 0 -0.8px 0 0 rgb(0 0 0 / 0.02), 0 0.5px 1px 1px rgb(0 0 0 / 0.06),
      0 1px 1px rgb(0 0 0 / 0.1);
    --browser-frame-bgcolor: var(--toolbar-bgcolor, var(--lwt-accent-color));

    /* Different shadow for higher resolution displays. */
    @media (resolution > 1.8dppx) {
      --uc-tweak-rounded-corners-shadow: 0 0 0.5px 0.5px rgb(0 0 0 / 0.06), 0 0.5px 1.5px rgb(0 0 0 / 0.1);
    }
  }

  /* Hide border below titlebar on macOS, as its titlebar already has a border. */
  @media (-moz-platform: macos) {
    :root[chromehidden~="toolbar"][chromehidden~="location"][chromehidden~="directories"] {
      border-top: none !important;
    }
  }

  /* Disable rounded corners in fullscreen, only if the toolbar is hidden. */
  :root[inFullscreen] #navigator-toolbox[style*="margin-top"] + #browser,
  :root[inDOMFullscreen] #browser {
    --uc-tweak-rounded-corners-padding: 0;
    --uc-tweak-rounded-corners-radius: 0;
    --uc-tweak-rounded-corners-shadow: unset;
  }

  /* Change colour of page when loading */
  #tabbrowser-tabpanels {
    padding: 0.3px !important;
    background-color: transparent !important;
  }

  /* give browser main content view rounded conner   */
  browser[contextmenu="contentAreaContextMenu"] {
    border-radius: var(--uc-tweak-rounded-corners-radius);
  }
  .browserContainer > findbar:not([hidden="true"]) ~ browser[contextmenu="contentAreaContextMenu"] {
    border-radius: 0px !important;
  }

  /* padding browser container inner */
  #main-window #tabbrowser-tabbox {
    -moz-window-dragging: no-drag;
    border-radius: var(--uc-tweak-rounded-corners-radius);
  }
  @media -moz-pref("uc.tweak.browser-rounded-padding",0) {
    #main-window #tabbrowser-tabbox {
      margin-right: 0 !important;
      margin-bottom: 0 !important;
    }
    #main-window[sizemode="maximized"] #tabbrowser-tabbox {
      margin-right: 0 !important;
      margin-bottom: 0 !important;
    }
  }
  @media -moz-pref("uc.tweak.browser-rounded-padding",1) {
    #main-window #tabbrowser-tabbox {
      margin-right: var(--uc-tweak-rounded-corners-padding) !important;
      margin-bottom: var(--uc-tweak-rounded-corners-padding) !important;
    }
    #main-window[sizemode="maximized"] #tabbrowser-tabbox {
      margin-right: var(--uc-tweak-rounded-corners-padding) !important;
      margin-bottom: var(--uc-tweak-rounded-corners-padding) !important;
    }
    #sidebar-main[hidden="true"] ~ #appcontent #tabbrowser-tabbox,
    #sidebar-main[hidden="true"] ~ #tabbrowser-tabbox {
      margin-inline: var(--uc-tweak-rounded-corners-padding) !important;
    }
    #main-window[sizemode="maximized"] #sidebar-main[hidden="true"] ~ #appcontent #tabbrowser-tabbox,
    #main-window[sizemode="maximized"] #sidebar-main[hidden="true"] ~ #tabbrowser-tabbox {
      margin-inline: var(--uc-tweak-rounded-corners-padding) !important;
    }
  }
  @media -moz-pref("uc.tweak.browser-rounded-padding",2) {
    #main-window #tabbrowser-tabbox {
      margin-right: calc(1.5 * var(--uc-tweak-rounded-corners-padding)) !important;
      margin-bottom: calc(1.5 * var(--uc-tweak-rounded-corners-padding)) !important;
    }
    #main-window[sizemode="maximized"] #tabbrowser-tabbox {
      margin-right: calc(1.5 * var(--uc-tweak-rounded-corners-padding)) !important;
      margin-bottom: calc(1.5 * var(--uc-tweak-rounded-corners-padding)) !important;
    }
    #sidebar-main[hidden="true"] ~ #appcontent #tabbrowser-tabbox,
    #sidebar-main[hidden="true"] ~ #tabbrowser-tabbox {
      margin: calc(1.5 * var(--uc-tweak-rounded-corners-padding)) !important;
    }
    #main-window[sizemode="maximized"] #sidebar-main[hidden="true"] ~ #appcontent #tabbrowser-tabbox,
    #main-window[sizemode="maximized"] #sidebar-main[hidden="true"] ~ #tabbrowser-tabbox {
      margin: calc(1.5 * var(--uc-tweak-rounded-corners-padding)) !important;
    }
  }
  @media -moz-pref("uc.tweak.browser-rounded-padding",3) {
    #main-window #tabbrowser-tabbox {
      margin-right: calc(2 * var(--uc-tweak-rounded-corners-padding)) !important;
      margin-bottom: calc(2 * var(--uc-tweak-rounded-corners-padding)) !important;
    }
    #main-window[sizemode="maximized"] #tabbrowser-tabbox {
      margin-right: calc(2 * var(--uc-tweak-rounded-corners-padding)) !important;
      margin-bottom: calc(2 * var(--uc-tweak-rounded-corners-padding)) !important;
    }
    #sidebar-main[hidden="true"] ~ #appcontent #tabbrowser-tabbox,
    #sidebar-main[hidden="true"] ~ #tabbrowser-tabbox {
      margin: calc(2 * var(--uc-tweak-rounded-corners-padding)) !important;
    }
    #main-window[sizemode="maximized"] #sidebar-main[hidden="true"] ~ #appcontent #tabbrowser-tabbox,
    #main-window[sizemode="maximized"] #sidebar-main[hidden="true"] ~ #tabbrowser-tabbox {
      margin: calc(2 * var(--uc-tweak-rounded-corners-padding)) !important;
    }
  }
  @media -moz-pref("uc.tweak.browser-rounded-padding",4) {
    #main-window #tabbrowser-tabbox {
      margin-right: calc(2.5 * var(--uc-tweak-rounded-corners-padding)) !important;
      margin-bottom: calc(2.5 * var(--uc-tweak-rounded-corners-padding)) !important;
    }
    #main-window[sizemode="maximized"] #tabbrowser-tabbox {
      margin-right: calc(2.5 * var(--uc-tweak-rounded-corners-padding)) !important;
      margin-bottom: calc(2.5 * var(--uc-tweak-rounded-corners-padding)) !important;
    }
    #sidebar-main[hidden="true"] ~ #appcontent #tabbrowser-tabbox,
    #sidebar-main[hidden="true"] ~ #tabbrowser-tabbox {
      margin: calc(2.5 * var(--uc-tweak-rounded-corners-padding)) !important;
    }
    #main-window[sizemode="maximized"] #sidebar-main[hidden="true"] ~ #appcontent #tabbrowser-tabbox,
    #main-window[sizemode="maximized"] #sidebar-main[hidden="true"] ~ #tabbrowser-tabbox {
      margin: calc(2.5 * var(--uc-tweak-rounded-corners-padding)) !important;
    }
  }

  /* Prevent status panel corners and shadow from appearing outside the browser. */
  #statuspanel {
    overflow: hidden;
  }

  /* make picture in picture rounded   */
  @-moz-document url("chrome://global/content/pictureinpicture/player.xhtml")
  {
    html {
      border-radius: 8px;
    }
  }

  /* Ensure that dark mode is enabled completely in private browsing mode. */
  @media -moz-pref("browser.theme.dark-private-windows") {
    :root[privatebrowsingmode="temporary"],
    :root[privatebrowsingmode="temporary"] #nav-bar,
    :root[privatebrowsingmode="temporary"] #PersonalToolbar {
      --toolbar-color-scheme: dark !important;
      --tab-selected-color-scheme: dark !important;
      color-scheme: dark !important;
    }
  }
}

/* Apply colours to the default 'Auto' theme. */
:root:not([lwtheme]) #navigator-toolbox {
  color: var(--lwt-text-color) !important;

  /* Inactive window background colours. */
  &:-moz-window-inactive {
    background-color: var(--lwt-accent-color-inactive, var(--lwt-accent-color)) !important;
    color: var(--lwt-text-color-inactive, var(--lwt-text-color)) !important;
  }
}

/* Status/link preview panel */
#statuspanel {
  padding-inline: 4px;
  padding-bottom: 2px;
}

#statuspanel-label {
  color: var(--toolbar-field-focus-color) !important;
  box-shadow: 0 2px 5px #0002, 0 0 0 1px light-dark(#0001, #0002) !important;
  border-radius: 4px !important;
  #statuspanel[mirror] & {
    border-radius: 4px 0 0 0 !important;
  }
}

/* preferences page */
@-moz-document url-prefix(about:preferences),
url-prefix(about:addons) {
  .category[selected] {
    position: relative !important;
    border-radius: 4px !important;
  }

  .category[selected]:not(:hover, :active) {
    background-color: var(--in-content-button-background) !important;
  }

  .category[selected]::before {
    content: "";
    position: absolute;
    inset-block: 0;
    margin-block: auto;
    height: 24px;
    width: 3px;
    left: 2px;
    background-color: var(--in-content-accent-color);
    border-radius: 3px;
  }

  button.tab-button:hover {
    border-block-color: transparent var(--in-content-box-border-color) !important;
  }

  button.tab-button[selected],
  button.tab-button[selected]:hover {
    border-block-color: transparent AccentColor !important;
  }

  .toggle-button {
    --toggle-dot-margin: 4px !important;
    --toggle-width: 40px !important;
    --toggle-height: 20px !important;
    --toggle-background-color: transparent !important;
    --toggle-dot-background-color: var(--in-content-page-color) !important;
    --toggle-dot-background-color-on-pressed: #fff !important;
    --toggle-dot-transform-x: calc(
      var(--toggle-width) - 2 * var(--toggle-dot-margin) - 2 * var(--toggle-border-width) - var(--toggle-dot-width)
    ) !important;
  }
}

/* Devtools */
@-moz-document url("about:devtools-toolbox"), url-prefix("chrome://devtools/content/")
{
  div.devtools-tabbar {
    border-radius: var(--uc-tweak-rounded-corners-radius) !important;
  }
}

/* Devtools window when docked to the left or right. */
.devtools-toolbox-side-iframe {
  border-radius: var(--uc-tweak-rounded-corners-radius) !important;
  overflow: hidden !important;
  box-shadow: var(--uc-tweak-rounded-corners-shadow) !important;

  /* Devtools window when docked to the left. */
  &:first-child {
    padding-right: calc(2 * var(--uc-tweak-rounded-corners-padding)) !important;
  }

  /* Devtools window when docked to the right. */
  &:last-child {
    padding-left: calc(2 * var(--uc-tweak-rounded-corners-padding)) !important;
  }
}

/* Devtools window when docked to the bottom. */
.devtools-toolbox-bottom-iframe {
  margin-top: calc(2 * var(--uc-tweak-rounded-corners-padding)) !important;
  border-radius: var(--uc-tweak-rounded-corners-radius) !important;
  overflow: hidden !important;
  box-shadow: var(--uc-tweak-rounded-corners-shadow) !important;
}

/* Hide devtools splitter. */
.devtools-side-splitter,
.devtools-horizontal-splitter {
  background-color: transparent !important;
}

div.devtools-tabbar {
  border-radius: var(--uc-tweak-rounded-corners-radius) !important;
}

/* Responsive design mode. */
.browserContainer.responsive-mode {
  background-color: transparent !important;
  & .rdm-toolbar {
    border-radius: var(--uc-tweak-rounded-corners-radius) !important;
  }
}

/* Remove sidebar border when not in full screen. */
:not(:root[inFullscreen] #navigator-toolbox[style*="margin-top"]) + #browser #sidebar-splitter {
  border-inline-width: 0 !important;
}

/* Change colour of page when loading */
#tabbrowser-tabpanels {
  background-color: transparent !important;
}
