/* mimicfox 🔥🦊 */
/* navbar.css  */
/* OG https://github.com/bmFtZQ/edge-frfox  */

/* hide persenal bookmark overflow button when space enough */
@media (min-width: 1000px) {
  toolbarbutton#PlacesChevron.toolbarbutton-1 {
    display: none;
  }
}

:root {
  --toolbarbutton-border-radius: 4px !important;
  --toolbarbutton-inner-padding: 7px !important;
  --uc-toolbarbutton-inner-inline-padding: 10px !important;
  @media -moz-pref("uc.tweak.navbar.compact") {
    --uc-toolbarbutton-inner-inline-padding: 8px !important;
  }
  --toolbarbutton-outer-padding: 2px !important;
  --tabs-navbar-shadow-size: 0px !important;
}

#nav-bar .toolbarbutton-1 > .toolbarbutton-icon {
  width: calc(2 * var(--uc-toolbarbutton-inner-inline-padding) + 16px) !important;
}

#nav-bar .toolbarbutton-1 > .toolbarbutton-icon,
#nav-bar .toolbarbutton-1 > .toolbarbutton-text,
#nav-bar .toolbarbutton-1 > .toolbarbutton-badge-stack {
  padding-inline: var(--uc-toolbarbutton-inner-inline-padding) !important;
}

/* remove navbar top border */
#nav-bar {
  border-top: 0 !important;
}

/* move navbar */
html:not([sizemode="fullscreen"]) {
  #nav-bar {
    margin-bottom: -1px;
  }
}

/*
  MARK: Button transitions
*/
@media not (prefers-reduced-motion) {
  .toolbarbutton-1 > .toolbarbutton-icon,
  .toolbarbutton-1 > .toolbarbutton-text,
  .toolbarbutton-1 > .toolbarbutton-badge-stack,
  :not(.panel-subview-body > toolbaritem) > .bookmark-item:not(menu, menuitem),
  .urlbar-page-action,
  .identity-box-button,
  #tracking-protection-icon-container,
  panel button,
  panel menulist,
  .titlebar-button {
    transition: background-color 0.25s ease !important;
  }

  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-icon,
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-text,
  .toolbarbutton-1:not([disabled="true"]):is([open], [checked], :hover:active) > .toolbarbutton-badge-stack,
  :not(.panel-subview-body > toolbaritem)
    > .bookmark-item:not(menu, menuitem):not([disabled="true"]):is([open], [checked], :hover:active),
  .urlbar-page-action:not([disabled="true"]):is([open], [checked], :hover:active),
  .identity-box-button:not([disabled="true"]):is([open], [checked], :hover:active),
  #tracking-protection-icon-container:not([disabled="true"]):is([open], [checked], :hover:active),
  panel button:not([disabled="true"]):is([open], [checked], :hover:active),
  panel menulist:not([disabled="true"]):is([open], [checked], :hover:active),
  .titlebar-button:not([disabled="true"]):hover:active {
    transition-duration: 0s !important;
  }
}

@media not -moz-pref("uc.tweak.always-show-navbar-button") {
  /* hide extension and overflow button when no space */
  @media (max-width: 600px) {
    #unified-extensions-button,
    #PlacesToolbar {
      display: none !important;
    }
  }
  /* leave only urlbar when super small space */
  @media (max-width: 500px) {
    #nav-bar-overflow-button,
    #reload-button,
    #forward-button,
    #back-button {
      display: none !important;
    }
  }
}

/* remove toolbar right spacer */
@media -moz-pref("uc.tweak.remove-toolbar-spacer") {
  #vertical-spacer {
    display: none;
  }
  #unified-extensions-button {
    margin-right: 0 !important;
  }
}

/* larger toolbar spacer between extension and application buttons*/
@media -moz-pref("uc.tweak.toolbar-spacer-large") {
  #unified-extensions-button {
    margin-right: calc(2rem + 40px) !important;
  }
}

/* privacy enhance */
/* make account show only in submenu */
#appMenu-fxa-label2 #appMenu-header-description {
  display: none !important;
}

/* icon and label */
#appMenu-popup #appMenu-fxa-label2::before {
  content: " Firefox Account" !important;
  font-size: smaller;
  display: flex !important;
  align-items: center !important;
  background-image: url('data:image/svg+xml,<svg fill="%23000000" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" xml:space="preserve"><g><g><path d="M80,71.2V74c0,3.3-2.7,6-6,6H26c-3.3,0-6-2.7-6-6v-2.8c0-7.3,8.5-11.7,16.5-15.2c0.3-0.1,0.5-0.2,0.8-0.4c0.6-0.3,1.3-0.3,1.9,0.1C42.4,57.8,46.1,59,50,59c3.9,0,7.6-1.2,10.8-3.2c0.6-0.4,1.3-0.4,1.9-0.1c0.3,0.1,0.5,0.2,0.8,0.4C71.5,59.5,80,63.9,80,71.2z"/></g><g><ellipse cx="50" cy="36.5" rx="14.9" ry="16.5"/></g></g></svg>') !important;
  background-repeat: no-repeat !important;
  background-size: 16px 16px !important;
  margin-left: var(--arrowpanel-menuitem-padding-inline); !important;
  padding-inline-start: calc(var(--uc-arrowpanel-menuicon-margin-inline) + var(--arrowpanel-menuitem-padding-inline)) !important;
}

@media (prefers-color-scheme: dark) {
  #appMenu-popup #appMenu-fxa-label2::before {
    background-image: url('data:image/svg+xml,<svg fill="%23ffffff" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 100 100" xml:space="preserve"><g><g><path d="M80,71.2V74c0,3.3-2.7,6-6,6H26c-3.3,0-6-2.7-6-6v-2.8c0-7.3,8.5-11.7,16.5-15.2c0.3-0.1,0.5-0.2,0.8-0.4c0.6-0.3,1.3-0.3,1.9,0.1C42.4,57.8,46.1,59,50,59c3.9,0,7.6-1.2,10.8-3.2c0.6-0.4,1.3-0.4,1.9-0.1c0.3,0.1,0.5,0.2,0.8,0.4C71.5,59.5,80,63.9,80,71.2z"/></g><g><ellipse cx="50" cy="36.5" rx="14.9" ry="16.5"/></g></g></svg>') !important;
  }
}

.titlebar-buttonbox-container {
  margin-left: max(calc(40px - var(--toolbar-start-end-padding, 0px)), 0px) !important;
}