/* made for sidebery */
@import url("./acrylic-noise.css");

div.popup[style*="--fg"][style*="--bg"] {
  background: transparent !important;
  .header {
    background-image: var(--acrylic-noise) !important;
    background-repeat: repeat !important;
    backdrop-filter: blur(20px) brightness(90%) saturate(112%) !important;
    background-size: 25% !important;
  }
}

div.popup[style*="--fg"][style*="--bg"] {
  background: transparent !important;
  .header {
    background-color: rgba(255, 255, 255, 0.7) !important;
  }
  /* @media not (-moz-bool-pref: "sidebar.position_start") {
  }
  @media (-moz-bool-pref: "sidebar.position_start") {
  } */
}

@media (prefers-color-scheme: dark) {
  div.popup[style*="--fg"][style*="--bg"] {
    background: transparent !important;
    .header {
      background-color: rgba(14, 14, 14, 0.7) !important;
    }
  }
}

@-moz-document domain(monkeytype.com) {
  body {
    background-color: rgba(15, 15, 20, 0.4) !important; /* Darker base color */
  }
}

:root {
  --zen-colors-tertiary: transparent !important;
  --zen-settings-secondary-background: transparent !important;
}

groupbox:not(#sineInstallationGroup:popover-open) {
  /*   background: var(--zen-colors-tertiary) !important; */
  background: var(--zen-colors-border-contrast) !important;
  border: none;
}

@-moz-document url(about:home), url(about:newtab), url(about:privatebrowsing) {
  body,
  .App {
    background-color: #00000070 !important;
  }

  .App > div:nth-child(2),
  .wallpaper {
    display: none !important;
  }
}

@-moz-document url(addons.mozilla.org) {
  /* transparency */
  html,
  body,
  nav,
  header {
    background-color: transparent !important;
    background: none !important;
    border: none !important;
    box-shadow: none !important;
  }

  /* darkreader */
  :root {
    --darkreader-background-ffffff: transparent !important;
  }

  /* no footer */
  footer {
    display: none !important;
  }
}

@-moz-document url(about:config) {
  tr,
  table {
    background-color: transparent !important;
    border: none !important;
  }
  tr {
    outline: solid 1px #88888822 !important;
  }
}

/* ------------ BETTER PDF VIEWER ----------- */
:root {
  --pdf-js-pseudobg-bg: #dedede;
  @media (prefers-color-scheme: dark) {
    --pdf-js-pseudobg-bg: #2e2e2e;
  }
}

#mainContainer::before {
  content: "" !important;
  position: absolute !important;
  background: var(--pdf-js-pseudobg-bg) !important;
  top: 5px !important;
  left: 50% !important;
  transform: translate(-50%, 0);
  width: calc(100% - 10px) !important;
  max-width: min(var(--natsumi-pdfjs-topbar-max-width), calc(100% - 10px)) !important;
  border-radius: 10px;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  height: calc(var(--toolbar-height)) !important;
  z-index: -10000 !important;
}

.sidebarOpen::before {
  content: "";
  background: var(--pdf-js-pseudobg-bg) !important;
  position: absolute !important;
  height: calc(100% - 62px) !important;
  left: 5px !important;
  top: auto !important;
  bottom: 5px !important;
  border-radius: 10px !important;
  width: var(--sidebar-width) !important;
}
/* ---- Config ----- */

/*
Feel free to change these values to whatever you want, as long
as they use the correct format.
*/

* {
  /* Accent color */
  --natsumi-pages-accent-color: #101010;

  /* Natsumi Glass Effect */
  --glass-blur-radius: 20px;
  --glass-shadow-size: 10px;
  --glass-shadow-opacity: 65%;

  /* Custom fonts experiment (must be an installed font) */
  --custom-font: "Poppins";

  /* pdf.js */
  --pdfjs-topbar-max-width: 750px; /* use calc(100% - 10px) for max width */
}

/* preload */
/* ==== Apply config ==== */

/*
NOTE: DO NOT USE THIS AS YOUR CONFIG FILE.

The below code applies your config (or default values if needed) and they should never be modified.
Edit the natsumi-config.css file instead.
 */

* {
  /* Colors */
  --natsumi-primary-color: var(--natsumi-pages-accent-color, #aac7ff);
  --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 50%, black 50%);
  --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-colors-primary) 20%, white 80%);
  --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 2%, white 98%);
  --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);

  @media (prefers-color-scheme: dark) {
    --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 20%, #202020 80%);
    --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-primary-color) 30%, #202020 70%);
    --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 1%, #202020 99%);
    --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);

    @media (-moz-bool-pref: "zen.theme.color-prefs.colorful") {
      --natsumi-colors-primary: color-mix(in srgb, var(--natsumi-primary-color) 50%, black 50%);
      --natsumi-colors-secondary: color-mix(in srgb, var(--natsumi-primary-color) 40%, black 60%);
      --natsumi-colors-tertiary: color-mix(in srgb, var(--natsumi-primary-color) 15%, black 85%);
      --natsumi-colors-primary-foreground: color-mix(in srgb, var(--natsumi-primary-color) 80%, white 20%);
    }
  }

  /* Glass effect */
  --natsumi-glass-background: color-mix(in srgb, var(--natsumi-colors-secondary) 60%, transparent);
  --natsumi-glass-blur-radius: var(--glass-blur-radius, 10px);
  --natsumi-glass-shadow-size: var(--glass-shadow-size, 10px);
  --natsumi-glass-shadow-opacity: var(--glass-shadow-opacity, 75%);

  /* pdf.js */
  --natsumi-pdfjs-topbar-max-width: var(--pdfjs-topbar-max-width, 750px);
}

/* pdfjs */

/* ==== PDF viewer tweaks ==== */

@keyframes pdfjs-appear {
  from {
    opacity: 0;
    filter: blur(5px);
  }

  to {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes secondary-appear {
  0% {
    opacity: 0;
    margin-top: -10px;
    filter: blur(5px);
  }

  100% {
    opacity: 1;
    margin-top: 0;
    filter: blur(0);
  }
}

@keyframes properties-appear {
  0% {
    opacity: 0;
    top: 50px;
  }

  100% {
    opacity: 1;
    top: 0;
  }
}

@media not (-moz-bool-pref: "natsumi.pdfjs.disabled") {
  html[mozdisallowselectionprint] {
    &:has(head link:nth-of-type(1)[href^="resource://pdf.js"])
    {
      --natsumi-colors-border: color-mix(in srgb, var(--natsumi-colors-secondary) 80%, black 20%);
      --toolbarbutton-active-background: rgba(255, 255, 255, 0.9);
      --toolbarbutton-hover-background: color-mix(in srgb, #202020 10%, transparent);

      @media (prefers-color-scheme: dark) {
        --toolbarbutton-active-background: color-mix(
          in srgb,
          var(--natsumi-primary-color) 50%,
          rgba(255, 255, 255, 0.1)
        );
        --toolbarbutton-hover-background: color-mix(in srgb, #ebebeb 10%, transparent);
      }

      body {
        @media (prefers-color-scheme: dark) {
          background: transparent !important;
          background-color: transparent !important;
        }
      }

      #viewerContainer {
        inset: 0 !important;
        background: transparent !important;
        background-color: transparent !important;

        #viewer > .page:first-of-type,
        #viewer .spread:first-of-type .page {
          margin-top: 43px !important;
          transition: margin-top 0.3s ease;
        }
      }

      .toolbar {
        width: 100%;
        height: 10px;

        @media (-moz-bool-pref: "natsumi.theme.compact-marginless") {
          height: 15px;
        }
      }

      #toolbarContainer,
      #sidebarContainer {
        background: var(--natsumi-glass-background) !important;
        backdrop-filter: blur(5px);
        border-radius: 10px;
      }

      #toolbarContainer {
        position: absolute !important;
        top: 5px !important;
        left: 50% !important;
        transform: translate(-50%, 0);
        width: calc(100% - 10px) !important;
        max-width: min(var(--natsumi-pdfjs-topbar-max-width), calc(100% - 10px)) !important;
        border-radius: 10px;
        padding-top: 5px !important;
        padding-bottom: 5px !important;
        height: calc(var(--toolbar-height) + 10px) !important;
        border: 1px solid rgba(20, 20, 20, 0.2) !important;
        box-shadow: 0 0 var(--natsumi-glass-shadow-size) var(--natsumi-glass-shadow-color) !important;
        animation: pdfjs-appear 0.3s ease;
        overflow: hidden !important;

        @media (prefers-color-scheme: dark) {
          border-color: rgba(235, 235, 235, 0.3) !important;
        }

        &:has(#loadingBar.hidden) {
          overflow: visible !important;
        }

        #toolbarViewer {
          padding-left: 5px;
          padding-right: 5px;
        }

        .doorHangerRight {
          padding: 5px !important;
          top: 40px !important;
          right: -7px !important;
          background: var(--natsumi-glass-background) !important;
          backdrop-filter: blur(5px);
          border-radius: 10px !important;
          border: 1px solid rgba(20, 20, 20, 0.2) !important;
          box-shadow: 0 0 var(--natsumi-glass-shadow-size) var(--natsumi-glass-shadow-color) !important;
          animation: secondary-appear 0.3s ease;

          &.hidden {
            animation: none !important;
          }

          @media (prefers-color-scheme: dark) {
            border-color: rgba(235, 235, 235, 0.3) !important;
          }

          &::before,
          &::after {
            display: none !important;
          }
        }

        .thicknessPicker {
          &::before,
          &::after {
            @media (prefers-color-scheme: dark) {
              background-color: white !important;
            }
          }
        }

        #loadingBar {
          top: unset !important;
          bottom: 0 !important;
          border: none !important;

          .progress {
            background-color: var(--natsumi-primary-color) !important;
          }
        }
      }

      #sidebarContainer {
        height: calc(100% - 62px) !important;
        left: -5px !important;
        top: auto !important;
        bottom: 5px !important;
        opacity: 0 !important;
        transition: left 0.2s ease, opacity 0.2s ease, filter 0.2s ease !important;
        border: 1px solid rgba(20, 20, 20, 0.2) !important;
        box-shadow: 0 0 var(--natsumi-glass-shadow-size) var(--natsumi-glass-shadow-color) !important;
        filter: blur(5px);

        @media (prefers-color-scheme: dark) {
          border-color: rgba(235, 235, 235, 0.3) !important;
        }

        #toolbarSidebar {
          background: transparent !important;
          box-shadow: none !important;
          padding: 5px !important;
          height: calc(var(--toolbar-height) + 10px) !important;
        }

        #sidebarContent {
          margin-top: 10px !important;
          box-shadow: none !important;
        }

        .treeItem {
          a,
          .treeItems {
            border-radius: 5px !important;
            transition: background-color 0.2s ease;
          }
        }

        .thumbnail {
          margin-bottom: 22px !important;
          transition: border-color 0.2s ease;

          &::after {
            content: attr(data-page-number);
            display: block;
            color: black;
            width: 100%;
            margin-top: 8px;
            text-align: center;

            @media (prefers-color-scheme: dark) {
              color: white;
            }
          }
        }
      }

      #outerContainer.sidebarOpen #sidebarContainer {
        left: 5px !important;
        opacity: 1 !important;
        filter: blur(0);
      }

      #scaleSelectContainer {
        border-radius: 4px !important;
        overflow: hidden !important;

        select {
          background-color: #f1f1f1 !important;

          @media (prefers-color-scheme: dark) {
            background-color: #363636 !important;
          }
        }
      }

      #pageNumber {
        border-radius: 4px !important;
        overflow: hidden !important;
        background-color: #ffffff !important;
        border-color: var(--natsumi-colors-border) !important;

        @media (prefers-color-scheme: dark) {
          background-color: #23222b !important;
        }
      }

      .verticalToolbarSeparator,
      .splitToolbarButtonSeparator,
      .horizontalToolbarSeparator,
      .separator {
        border-color: rgba(20, 20, 20, 0.2) !important;

        @media (prefers-color-scheme: dark) {
          border-color: rgba(235, 235, 235, 0.3) !important;
        }
      }

      #editorHighlightVisibility .divider {
        background-color: rgba(20, 20, 20, 0.2) !important;

        @media (prefers-color-scheme: dark) {
          background-color: rgba(235, 235, 235, 0.3) !important;
        }
      }

      .toolbarButton {
        border-radius: 6px !important;
        transition: background-color 0.2s ease;

        &:hover {
          background-color: var(--toolbarbutton-hover-background) !important;
        }

        &.toggled {
          background-color: var(--toolbarbutton-active-background) !important;
        }

        &::before {
          mask-size: contain !important;
          mask-repeat: no-repeat;
          -moz-context-properties: fill;
        }
      }

      /* Document properties */

      #documentPropertiesDialog {
        background: var(--natsumi-glass-background) !important;
        backdrop-filter: blur(5px);
        border-radius: 10px !important;
        border: 1px solid rgba(20, 20, 20, 0.2) !important;
        box-shadow: 0 0 var(--natsumi-glass-shadow-size) var(--natsumi-glass-shadow-color) !important;

        @media (prefers-color-scheme: dark) {
          border-color: rgba(235, 235, 235, 0.3) !important;
        }

        &:is([open]) {
          animation: properties-appear 0.3s ease !important;
        }

        #documentPropertiesClose {
          border-radius: 5px !important;
          background-color: #f1f1f1 !important;

          @media (prefers-color-scheme: dark) {
            background-color: #363636 !important;
          }
        }
      }

      /* Compact mode */

      @media (-moz-bool-pref: "natsumi.pdfjs.compact") {
        .toolbar {
          #toolbarContainer {
            opacity: 0 !important;
            pointer-events: none;
            top: -5px !important;
            transition: opacity 0.3s ease, top 0.3s ease, filter 0.3s ease;
            filter: blur(5px);
          }

          &:hover,
          &:has(.toolbarButton:not(#sidebarToggleButton)[aria-expanded="true"]),
          &:has(input:focus),
          &:has(select:focus) {
            height: 52px;

            #toolbarContainer {
              top: 5px !important;
              opacity: 1 !important;
              pointer-events: auto;
              filter: blur(0);
            }
          }
        }

        @media (-moz-bool-pref: "natsumi.pdfjs.compact-dynamic") {
          .toolbar:has(#sidebarToggleButton[aria-expanded="true"]) {
            height: 52px;

            #toolbarContainer {
              top: 5px !important;
              opacity: 1 !important;
              pointer-events: auto;
              filter: blur(0);
            }
          }

          &:has(#sidebarToggleButton:not([aria-expanded="true"])) {
            #viewer > .page:first-of-type,
            #viewer .spread:first-of-type .page {
              margin-top: 0 !important;
            }
          }
        }

        @media not (-moz-bool-pref: "natsumi.pdfjs.compact-dynamic") {
          #viewer > .page:first-of-type,
          #viewer .spread:first-of-type .page {
            margin-top: 0 !important;
          }
        }
      }

      /* Topbar buttons */
      #editorHighlightButton::before {
        mask-image: url("resource://pdf.js/web/images/toolbarButton-editorHighlight.svg") !important;
      }

      #editorFreeTextButton::before {
        mask-image: url("resource://pdf.js/web/images/toolbarButton-editorFreeText.svg") !important;
      }

      #editorInkButton::before {
        mask-image: url("resource://pdf.js/web/images/toolbarButton-editorInk.svg") !important;
      }

      #presentationMode::before {
        mask-image: url("resource://pdf.js/web/images/toolbarButton-presentationMode.svg") !important;
      }

      #viewBookmark::before {
        mask-image: url("resource://pdf.js/web/images/toolbarButton-bookmark.svg") !important;
      }
      #cursorSelectTool::before {
        mask-image: url("resource://pdf.js/web/images/secondaryToolbarButton-selectTool.svg") !important;
      }

      #cursorHandTool::before {
        mask-image: url("resource://pdf.js/web/images/secondaryToolbarButton-handTool.svg") !important;
      }

      #scrollPage::before {
        mask-image: url("resource://pdf.js/web/images/secondaryToolbarButton-scrollPage.svg") !important;
      }

      #scrollVertical::before {
        mask-image: url("resource://pdf.js/web/images/secondaryToolbarButton-scrollVertical.svg") !important;
      }

      #scrollHorizontal::before {
        mask-image: url("resource://pdf.js/web/images/secondaryToolbarButton-scrollHorizontal.svg") !important;
      }

      #scrollWrapped::before {
        mask-image: url("resource://pdf.js/web/images/secondaryToolbarButton-scrollWrapped.svg") !important;
      }

      #spreadNone::before {
        mask-image: url("resource://pdf.js/web/images/secondaryToolbarButton-spreadNone.svg") !important;
      }

      #spreadOdd::before {
        mask-image: url("resource://pdf.js/web/images/secondaryToolbarButton-spreadOdd.svg") !important;
      }

      #spreadEven::before {
        mask-image: url("resource://pdf.js/web/images/secondaryToolbarButton-spreadEven.svg") !important;
      }

      #documentProperties::before {
        mask-image: url("resource://pdf.js/web/images/secondaryToolbarButton-documentProperties.svg") !important;
      }

      /* Sidebar buttons */
      #viewThumbnail::before {
        mask-image: url("resource://pdf.js/web/images/toolbarButton-viewThumbnail.svg") !important;
      }

      #viewOutline::before {
        mask-image: url("resource://pdf.js/web/images/toolbarButton-viewOutline.svg") !important;
      }

      #viewAttachments::before {
        mask-image: url("resource://pdf.js/web/images/toolbarButton-viewAttachments.svg") !important;
      }

      #viewLayers::before {
        mask-image: url("resource://pdf.js/web/images/toolbarButton-viewLayers.svg") !important;
      }

      #currentOutlineItem::before {
        mask-image: url("resource://pdf.js/web/images/toolbarButton-currentOutlineItem.svg") !important;
      }
    }
  }
}

/* global */
/* ==== Global tweaks ==== */

* {
  /*noinspection CssInvalidFunction*/
  @media (-moz-bool-pref: "natsumi.global.highlight-accent-color") {
    &::-moz-selection,
    &::selection {
      background: var(--natsumi-primary-color) !important;

      @media (prefers-color-scheme: dark) {
        background: color-mix(in srgb, var(--natsumi-colors-primary) 60%, white) !important;
      }
    }
  }
}
